<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>OOP Submission Formatter{% block title %}{% endblock %}</title>

        <script>
            // Set theme to the user's preferred color scheme
            function updateTheme() {
            const colorMode = window.matchMedia("(prefers-color-scheme: dark)").matches ?
                "dark" :
                "light";
            document.querySelector("html").setAttribute("data-bs-theme", colorMode);
            }

            // Set theme on load
            updateTheme()

            // Update theme when the preferred scheme changes
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme)
        </script>

        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <script src="https://kit.fontawesome.com/2788169a8b.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <script src="{{ url_for('static', filename='jquery-3.6.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

        <div class="container">
            <header>
                {% block header %}{% endblock %}
            </header>
    
            {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
    
            {% block content %}{% endblock %}
        </div>

    </body>
</html>